./cmake-build-debug/*
./.idea/*
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-529aef751a9122e6cb90.json
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e57812a4a8f0ee9e5947.json
/CMakeLists.txt
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f2a041ff64d7eedb2a56.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/FaceTracking
/.idea/FaceTracking.iml
